.new-password {
  &__otp-separator {
    width: 8px;
  }
  &__otp-input {
    background-color: #f4fbfc;
    border: none;
    width: 2.2rem !important;
    height: 2.4rem !important;
    &:focus {
      outline-color: #f4fbfc;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }
  &__link-text {
    color: #7367f0;
    cursor: pointer;
    &:hover {
      color: #6a5ef3;
    }
  }
}
