.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__box {
    margin-right: 8px;
    &__active {
      background-color: #7367f0;
    }
    &__default {
      background-color: rgb(224, 224, 224);
    }
  }

  &__default {
    width: 1rem;
    height: 1rem;
  }
  &__small {
    width: 8px;
    height: 8px;
  }

  &__text {
    color: #a8a8a8;
  }
}
