.login {
  &__text {
    color: #a5a5a5;
  }
  &__title {
    color: #757575;
  }

  &__horizontal-line-with-word {
    & {
      overflow: hidden;
      text-align: center;
      color: #a0a0a0;
    }

    &:before,
    &:after {
      background-color: #a7a7a7;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    &:before {
      right: 0.5em;
      margin-left: -50%;
    }

    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  &__facebook-icon {
    color: #4267b2;
  }

  &__button {
    background-color: #7367f0;
    border: none;
    color: #f7f7fc;
    text-align: center;
    padding: 8px;
  }
}
